
*{
    margin: 0;
    padding: 0;
}

/* shared Style */


.inter-font{
  font-family: "Inter", sans-serif;
}

.main-btn{
    font-size: 16px;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px
}

/* main style */

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-container .nav-links ul{
    display: flex;
}

.nav-links ul li {
    margin-right: 32px;
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}