
*{
    margin: 0;
    padding: 0;
}

/* shared Style */


.inter-font{
  font-family: "Inter", sans-serif;
}

.main-btn{
    font-size: 16px;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px
}

/* main style */

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-container .nav-links ul{
    display: flex;
}

.nav-links ul li {
    margin-right: 32px;
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#banner{
    text-align: center;
    max-width: 100%;
    padding: 70px 120px 120px 134px;
    background-image: url(../assets/hero-bg.png);
}

#banner .banner-container h5{
    font-size: 16px;
    margin-bottom: 24px;
    padding: 6px;
    color: #30B868;
    background-color: #FFFFFF;
    max-width: 230px;
    margin: 0 auto;
    border-radius: 30px;
}

#banner-heading{
    font-size: 72px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container h1{
    font-size: 72px;
    color: #30B868;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.secondary-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    color: #FFFFFF;
}