
*{
    margin: 0;
    padding: 0;
}

/* shared Style */


.inter-font{
  font-family: "Inter", sans-serif;
}

.main-btn{
    font-size: 16px;
    font-weight:bold;
    color: #FFFFFF;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px
}

/* main style */

#nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-container .nav-links ul{
    display: flex;
}

.nav-links ul li {
    margin-right: 32px;
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

#banner{
    text-align: center;
    max-width: 100%;
    padding: 70px 120px 120px 150px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#banner .banner-container h5{
    font-size: 16px;
    margin-bottom: 24px;
    padding: 6px;
    color: #30B868;
    background-color: #FFFFFF;
    max-width: 230px;
    margin: 0 auto;
    border-radius: 30px;
}

#banner-heading{
    font-size: 72px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container h1{
    font-size: 72px;
    color: #30B868;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}

#banner .banner-container p{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.secondary-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #FFFFFF;
    margin-left: 10px;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    color: #FFFFFF;
}

#notes{
    margin-top: 130px;
    margin-bottom: 120px;
}  

.notes-container{
    margin: 0 auto;
    text-align: center;
    
}

#notes .notes-content h1{
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: bold;
    color:#001931;
}

.notes-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}

.notes-cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    
    
}

.note-card{
    text-align: center;
    border-radius: 5px;
    padding: 24px;
    box-shadow: 0 8px 16px 0 rgb(210, 211, 211);
}

.note-card img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.note-card h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.note-card p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 20px;
}

#solution{
    max-width: 1360px;
    margin: 0 auto;
}

.solution-content{
    display: flex;
    align-items: center;
    gap: 60px;
}

#solution .solution-text h6{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

#solution .solution-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#solution .solution-text p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}



#solution .solution-text ul>li{
    display: flex;
    font-size: 16px;
    gap: 6px;
    align-items: center;
    list-style: none;
    margin-bottom: 16px;
}



